@inherits LayoutComponentBase

<PageTitle>Tic Tac Toe</PageTitle>

<a href="#main-content" class="skip-link">Skip to main content</a>
<div class="page">
    <header>
        <TopNav />
    </header>

    <main id="main-content" tabindex="-1">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
